thead tr td {
    font-weight: bold;
    font-size: 18px;
}

tbody tr td {
    font-size: 18px;
}

#header {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid black;
}

#footer {
    font-size: 20px;
    border-top: 1px solid black;
}